includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 6
    paths:
        - src
        - application/Http/Action
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::#'
    exceptions:
        implicitThrows: false
        reportUncheckedExceptionDeadCatch: false
        uncheckedExceptionClasses:
            - Throwable
        checkedExceptionRegexes:
            - '#^Source\\(?:[^\\]+\\)*Application\\Exception\\[^\\]+Exception$#'
            - '#^Source\\(?:[^\\]+\\)*Domain\\Exception\\[^\\]+Exception$#'
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
            throwTypeCovariance: true
    treatPhpDocTypesAsCertain: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportUnmatchedIgnoredErrors: true
services:
    -
        class: Kpool\PHPStan\Rules\SourceExceptionRequiresHttpConversionRule
        arguments:
            targetClassNamePattern: '#^Application\\Http\\Action\\.*Action$#'
            targetMethodNames:
                - __invoke
            broadCatchTypes:
                - Throwable
                - Exception
            sourceExceptionRegexes:
                - '#^Source\\(?:[^\\]+\\)*Application\\Exception\\[^\\]+Exception$#'
                - '#^Source\\(?:[^\\]+\\)*Domain\\Exception\\[^\\]+Exception$#'
            httpExceptionClass: Application\Http\Exceptions\HttpException
        tags:
            - phpstan.rules.rule
