includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    level: 6
    paths:
        - src
        - application/Http/Action
        - tests
    excludePaths:
        - vendor/*
    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::#'
    exceptions:
        implicitThrows: false
        reportUncheckedExceptionDeadCatch: false
        uncheckedExceptionClasses:
            - Throwable
        checkedExceptionRegexes:
            - '#^Source\\(?:[^\\]+\\)*Application\\Exception\\[^\\]+Exception$#'
            - '#^Source\\(?:[^\\]+\\)*Domain\\Exception\\[^\\]+Exception$#'
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
            throwTypeCovariance: true
    treatPhpDocTypesAsCertain: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportUnmatchedIgnoredErrors: true
services:
    -
        class: Kpool\PHPStan\Rules\ForbiddenExternalLibraryInDomainAndUseCaseRule
        arguments:
            targetFilePathPatterns:
                - '#/src/(?:[^/]+/)*Domain/#'
                - '#/src/(?:[^/]+/)*Application/UseCase/#'
            forbiddenClassNamePatterns:
                - '#^Source\\(?:[^\\]+\\)*Infrastructure\\#'
            allowedNamespacePrefixes:
                - Source\
                - Random\
            allowedClassNames:
                - ArrayAccess
                - ArrayIterator
                - BackedEnum
                - Closure
                - Countable
                - DateTimeImmutable
                - DateTimeInterface
                - DomainException
                - Exception
                - Generator
                - InvalidArgumentException
                - IteratorAggregate
                - JsonSerializable
                - LogicException
                - Psr\Log\LoggerInterface
                - RuntimeException
                - Stringable
                - Throwable
                - Traversable
                - UnitEnum
                - ValueError
        tags:
            - phpstan.rules.rule
    -
        class: Kpool\PHPStan\Rules\SourceExceptionRequiresHttpConversionRule
        arguments:
            targetClassNamePattern: '#^Application\\Http\\Action\\.*Action$#'
            targetMethodNames:
                - __invoke
            broadCatchTypes:
                - Throwable
                - Exception
            sourceExceptionRegexes:
                - '#^Source\\(?:[^\\]+\\)*Application\\Exception\\[^\\]+Exception$#'
                - '#^Source\\(?:[^\\]+\\)*Domain\\Exception\\[^\\]+Exception$#'
            httpExceptionClass: Application\Http\Exceptions\HttpException
        tags:
            - phpstan.rules.rule
    -
        class: Kpool\PHPStan\Rules\ActionHttpExceptionResponseRule
        arguments:
            targetClassNamePattern: '#^Application\\Http\\Action\\.*Action$#'
            targetMethodNames:
                - __invoke
            broadCatchTypes:
                - Throwable
                - Exception
            clientErrorHttpExceptionClasses:
                - Application\Http\Exceptions\BadRequestHttpException
                - Application\Http\Exceptions\UnauthorizedHttpException
                - Application\Http\Exceptions\ForbiddenHttpException
                - Application\Http\Exceptions\NotFoundHttpException
                - Application\Http\Exceptions\ConflictHttpException
                - Application\Http\Exceptions\UnprocessableEntityHttpException
            internalServerErrorHttpExceptionClass: Application\Http\Exceptions\InternalServerErrorHttpException
        tags:
            - phpstan.rules.rule
