<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
            <directory>application/Shared</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="coverage/coverage.txt"/>
            <clover outputFile="coverage/coverage.xml"/>
        </report>
    </coverage>
    <php>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="testing_db"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="kpool"/>
        <env name="DB_USERNAME" value="kpool"/>
        <env name="DB_PASSWORD" value="secret"/>
    </php>
</phpunit>